.primary-text-color {
  color: #ffffff;
  font-size: 17px;
}
.upperSection{
  position: sticky;
  top: 0;
}
.btn-section{
    margin-top: 50vh;
    margin-left: 50%;
    transform: translate(-50%);
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-section-third{
    margin-top: 50vh;
    margin-left: 50%;
    transform: translate(-50%);
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-section-third > button {
  padding: 4px 24px;
  width: 264px;
  height: 40px;
  border-radius: 5px;
  border: none
}
.btn-section > button {
  padding: 4px 24px;
  width: 264px;
  height: 40px;
  border-radius: 5px;
  border: none

};


.topBar{
  background: linear-gradient(to top, #536976, #292e49); 
  height: 35px;
  padding: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap : 10px;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap : 10px;
}
.content > p > a {
  color: #fff;
}
